.index-description-list {
    display: flex;
    gap: 10px;
    color: rgba(10, 10, 10, 0.75);
    margin-bottom: 40px;
    list-style: disc;

    // padding-left: 20px;
    @media (max-width: 1023px) {
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.index-description-list__item {
    margin-left: 20px;

}