.question-tabs {
    display: flex;
    // flex-wrap: wrap;
    // column-count: 2;
    justify-content: space-between;
    // flex-direction: column;

    p {
        margin-bottom: 15px;
        font-weight: 500;
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.question-tabs__tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    // flex-direction: column;
    // gap: 10px;
    // max-width: calc(50% - 15px);
    // width: 100%;
}

.question-tabs__head {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;

    span {
        color: #000;
    }
}

.question-tabs__content {
    display: none;
}

.question-tabs__col {
    max-width: 50%;
    width: 100%;
    @media (max-width: 767px) {
        max-width: 100%;
    }
}