.why__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.why__row {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.why__col:nth-child(1) {
    max-width: 582px;
    width: 100%;
    flex: 1 0 auto;

    .why__head {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
    }
}

.why__col:nth-child(2) {
    flex: 1 0 auto;

    .why__head {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}