//- section.feedback.feedback--color1
.feedback-question._container
    h2.feedback__title-mode Предложим персональную инвестиционную стратегию
    p.feedback__subtitle Отправьте запрос, наш специалист свяжется с вами, чтобы обсудить ваши цели
    form.feedback-form.feedback-form--mode(action="") 
        .feedback-form__row
            input(type="text" placeholder="Имя")
        .feedback-form__row
            input(type="phone" placeholder="Телефон")
        .feedback-form__row
            input(type="email" placeholder="Электронная почта")
        .feedback-form__row 
            textarea(placeholder="Возможно ли получить ипотеку в Великобритании? Под какой процент?")
        button(type="submit").btn-default Задать вопрос
        span.feedback__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
    .feedback__abs 
        img(src="img/women.png" alt="")
        .feedback__circle 
            span Оксана Филочеева
            span руководитель <br>отдела продаж