//- section.feedback.feedback--color1
.feedback-large._container
    .feedback-large__col.feedback-large__descr
        img.feedback__avatar(src="img/feedback-pic.png" alt="") 
        span Марина Филичкина
        span Директор по продажам
        a(href="") 8 (800) 333 10 85
    .feedback-large__col
        h2.feedback__title Менеджеры LifeEstate помогут с выбором объекта
        form.feedback-form(action="") 
            .feedback-form__row
                textarea(placeholder="Например, квартира за рубежом")
            .feedback-form__row
                input(type="text" placeholder="Имя")
            .feedback-form__row
                input(type="phone" placeholder="Телефон")
            .feedback-form__row
                input(type="email" placeholder="Email")
            button(type="submit").btn-default Оставить заявку
            span.feedback__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
    .feedback-large__col 
        ul.feedback__list 
            li
                img(src="img/adv1.svg" alt="")
                span Работаем без комиссии
            li
                img(src="img/adv2.svg" alt="")
                span Полное сопровождение сделки
            li
                img(src="img/adv3.svg" alt="")
                span Кэшбэк до 1% от сделки