//- section.feedback.feedback--color3
.feedback-order._container
    h2.feedback__title-mode Перезвоним и подберём программу
    p.feedback__subtitle Бесплатно консультируем по вопросам инвестиций, подбираем недвижимость, рекомендуем юристов
    form.feedback-order__form(action="")
        .feedback-order__row 
            input(type="phone" value="Телефон")
        .feedback-order__row 
            input(type="submit" value="Оставить заявку").btn-default
    p.feedback__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
    ul.feedback__list.feedback__list--row
        li
            img(src="img/deal.svg" alt="")
            span Проверенные <br> юристы
        li
            img(src="img/lock.svg" alt="")
            span Конфиденциально
        li
            img(src="img/percent.svg" alt="")
            span Комиссия LifeEstate - 0%
    .feedback__abs 
        img(src="img/women.png" alt="")
        .feedback__circle 
            span Оксана Филочеева
            span руководитель <br>отдела продаж

