//- section.feedback.feedback--color1
.feedback-question.feedback-question--invert._container
    h2.feedback__title-mode Не подошел объект? Закажите персональный подбор
    p.feedback__subtitle Оставьте заявку, наш специалист свяжется с вами для уточнения запроса.
    .feedback__abs.feedback__abs--mode 
        img(src="img/women.png" alt="")
        .feedback__circle 
            span Анна Колесова
            span менеджер по работе <br>с клиентами
    form.feedback-form.feedback-form--mode(action="") 
        .feedback-form__row
            input(type="text" placeholder="Имя")
        .feedback-form__row
            input(type="phone" placeholder="Телефон")
        .feedback-form__row
            input(type="email" placeholder="Электронная почта")
        .feedback-form__row 
            textarea(placeholder="Ищу новостройку в Англии до 1 800 000 €")
        button(type="submit").btn-default Заказать подбор
        span.feedback__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
