.order__wrapper._container
    .order__pic
        img(src="img/women.png" alt="")
        .order__ellipse
            span Оксана Филочеева
            span руководитель <br> отдела продаж
    h2.title-section.order__title Персональная консультация по инвестициям в условиях ограничений
    ul.order__list
        li.order__item
            img(src="img/shield.svg" alt="")
            p.order__text Полностью легальные стратегии инвестиций в недвижимость
        li.order__item
            img(src="img/health.svg" alt="")
            p.order__text Юридические и финансовые консультации, сопровождение сделки
        li.order__item
            img(src="img/strategy.svg" alt="")
            p.order__text Подбор проектов и разработка индивидуальных стратегий
    button.btn-default.order__submit Отправить заявку