section.address._container 
    .address__wrapper 
        .address__item
            .address__head
                img(src="img/flag6.svg" alt="")
                span.address__name Лимассол, Кипр
            .address__content 
                p LifeEstate Cyprus LTD,38 Karaiskaki Kanika Alexander Center, Block 1, 1st Floor office 113b, 3032 Лимассол, Кипр
        .address__item
            .address__head
                img(src="img/flag5.svg" alt="")
                span.address__name Дубайб, ОАЭ
            .address__content 
                p LifeEstate Cyprus LTD,38 Karaiskaki Kanika Alexander Center, Block 1, 1st Floor office 113b, 3032 
        .address__item
            .address__head
                img(src="img/flag4.svg" alt="")
                span.address__name Анталия, Турция
            .address__content 
                p LifeEstate Cyprus LTD,38 Karaiskaki Kanika Alexander Center, Block 1, 1st Floor office 113b, 3032 
        .address__item
            .address__head
                img(src="img/flag2.svg" alt="")
                span.address__name Торревьеха, Испания
            .address__content 
                p LifeEstate LLC,Calle del Palangre, 14, 03182 Торревьеха
                a(href="tel:+34932204049") +34 932 204 049
        .address__item
            .address__head
                img(src="img/flag1.svg" alt="")
                span.address__name Лондон, Великобритания
            .address__content 
                p LifeEstate LLC,Calle del Palangre, 14, 03182 Торревьеха
                a(href="tel:+34932204049") +34 932 204 049
        .address__item
            .address__head
                img(src="img/flag7.svg" alt="")
                span.address__name Пхукет, Таиланд
            .address__content 
                p LifeEstate LLC,Calle del Palangre, 14, 03182 Торревьеха
                a(href="tel:+34932204049") +34 932 204 049