section.advantages._container 
    h2.title-section.advantages__title Агентам и застройщикам
    .advantages__wrapper 
        .advantages__col
            span.advantages__name Обрабатываем заявки
            p.advantages__text LifeEstate получает более 2 500 заявок ежемесячно. Общаемся с клиентом, выясняем мотивацию для покупки и требования к объекту недвижимости.
        .advantages__col
            span.advantages__name Передаём клиента вам
            p.advantages__text Наши партнёры получают заявки не только на свои объекты, но и часть заявок на объекты других партнёров.
    .advantages__footer 
        a.btn-default(href="") Оставить заявку
        a.advantages__link(href="") Условия сотрудничества