section.answers._container 
    h2.title-section Зачем инвестировать в недвижимость
    .answers__wrapper 
        .answers__col 
            .answers__item
                p.answers__item-name 1. Привлекательная доходность
                p.answers__item-text Доходность недвижимости выше, чем у облигаций и депозитов и может быть сопоставимой или даже превышать доходность акций.
                img.answers__pic(src="img/chart2.svg" alt="")
            .answers__item
                p.answers__item-name 2. Сохранение стоимости
                p.answers__item-text В отличие от ценных бумаг, недвижимость полностью теряет стоимость, только если здание полностью разрушено или локация становится непригодной для жизни.
            .answers__item
                p.answers__item-name 3. Низкая волатильность
                p.answers__item-text Волатильность рынка недвижимости ниже, чем у других финансовых инструментов. Даже если цены колеблются, то в небольших пределах.
            .answers__item
                p.answers__item-name 4. Оптимизация налога на прибыль
                p.answers__item-text Доход акций полностью облагается налогом на прибыль. При правильном структурировании сделки с недвижимостью есть возможность оптимизировать налогооблагаемую базу.
        .answers__col 
            .answers__item
                p.answers__item-name 5. Защита от инфляции
                p.answers__item-text Большинство арендных договоров предусматривают индексацию, которая привязана к индексу потребительских цен либо выражена в виде фиксированного процента.
            .answers__item
                p.answers__item-name 6. Потенциал роста стоимости
                p.answers__item-text В странах со стабильной экономикой темп роста стоимости недвижимости обгоняет инфляцию. Дополнительно стоимость можно поднять за счет ремонта, нового строительства или оптимизации управления.
            .answers__item
                p.answers__item-name 7. Стабильный доход
                p.answers__item-text Инвестиции в доходную недвижимость предполагают наличие договора и зафиксированных арендных платежей, которые распределяются на месячной, квартальной или годовой основе.
            .answers__item
                p.answers__item-name 8. Использование финансового рычага
                p.answers__item-text Возможно привлечение банковского финансирования, которое увеличивает доходность инвестора на капитал. Доход от аренды помогает обслуживать платежи по кредиту и расходы на содержание.