section.answers._container 
    h2.title-section Этапы инвестирования
    .answers__wrapper.answers__wrapper--2
        .answers__col 
            .answers__item
                p.answers__item-name 1. Заявка
                p.answers__item-text Отправьте нам запрос с примерным описанием объекта недвижимости или инвестиционного проекта, который вас интересует.
            .answers__item
                p.answers__item-name 2. Обсуждение
                p.answers__item-text Мы свяжемся с вами, чтобы обсудить запрос. Также мы всегда готовы принять вас в одном из наших офисов или организовать видеоконференцию.
            .answers__item
                p.answers__item-name 3. Подбор предложений
                p.answers__item-text После уточнения всех деталей, мы ищем предложения и вместе с вами выбираем лучший вариант.
            .answers__item
                p.answers__item-name 4. Подготовка документов
                p.answers__item-text Консультируем вас о том, какие документы потребуются для получения подробной информации об объекте, банковского кредита и открытия счета.
        .answers__col 
            .answers__item
                p.answers__item-name 5. Просмотры
                p.answers__item-text Организуем просмотры онлайн или вы прибудете в локацию на живые просмотры. На месте вас встретят сотрудники Tranio или наши партнёры.
            .answers__item
                p.answers__item-name 6. Подписание договора
                p.answers__item-text Выбрав лучший объект, вы подпишете договор купли-продажи (для арендных объектов) или договор инвестирования (для девелопмента).
            .answers__item
                p.answers__item-name 7. Перевод денег
                p.answers__item-text Доходность недвижимости выше, чем у облигаций и депозитов и может быть сопоставимой или даже превышать доходность акций.
            .answers__item
                p.answers__item-name 8. Получение прибыли
                p.answers__item-text После покупки вы получаете арендный доход или после окончания срока проекта — прибыль от его реализации.