.banner-slider._container
    .swiper.banner-swiper
        .swiper-wrapper
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
            .swiper-slide
                .banner-slider__item
                    h2.banner-slider__title Новая резиденция с собственным пляжем и спа недалеко от центра 
                    span.banner-slider__teg Гражданство
                    span.banner-slider__price От 6 604 000 $
                    a.banner-slider__btn.btn-default Посмотреть объект
                    img.banner-slider__pic(src="img/rectangle1.png" alt="")
        .swiper-pagination
    .swiper-button-prev 
    .swiper-button-next