.brief._container 
    .brief__col
        h3.brief__title Недвижимость в Великобритании. Краткий обзор
        .brief__content
            p Великобритания — одна из самых популярных стран мира для инвестиций в недвижимость. Государство отличается экономической и политической стабильностью. Рост населения, нехватка жилья, увеличение арендных ставок и высокий спрос на аренду недвижимости в крупных городах, и в особенности в Лондоне, делают недвижимость в Великобритании выгодной инвестицией.
            p Наибольшим спросом у иностранных покупателей пользуется недвижимость в Лондоне, а также Юго-Восточной Англии. В некоторых районах Лондона, таких как Мейфер или Вест-Энд, половина недвижимости принадлежит выходцам из стран Ближнего Востока, Индии, России. Для тех, кому по душе более размеренный, чем в центре столицы, ритм жизни, неподалеку от Лондона есть много тихих, комфортных, зеленых районов. Есть и бюджетные — Ислингтон, Харингей; и дорогие — Хэмпстед, Сент-Джонс-Вуд, Холланд Парк, Уимблдон.
            p Графства Суррей и Хэмпшир в Юго-Восточной Англии считаются лучшими по качеству жизни регионами страны. На юго-западе находятся живописные земли графства Корнуолл, где многие британцы и иностранцы владеют домами для отдыха. Купить недвижимость в Великобритании здесь можно по цене от 400-500 тыс. фунтов стерлингов.
    .brief__col
        h3.brief__title Подборки жилой недвижимости в Великобритании
        .brief__content
            .brief__links 
                a(href="") Элитная
                a(href="") От застройщика