.buy
    .buy__wrapper._container 
        .buy__content 
            h2.title-section Купить недвижимость за рубежом можно!
            p.buy__text В 2022 году россияне по-прежнему могут покупать недвижимость в большинстве стран мира при соблюдении <b>актуальных требований законодательства.</b>
            p.buy__text Мы сопровождаем сделки в <b>Дубае, Турции, Греции, Германии</b> и других странах. Готовы ответить на все вопросы о покупке и оплате недвижимости за рубежом.
            a(href="").btn-default Подробнее о программах 