.card 
    .swiper.swiper-card
        .swiper-wrapper 
            .swiper-slide
                .card__pics
                    img(src="img/card.jpg" alt="")
                    span.bonus Готовый проект

            .swiper-slide 
                .card__pics 
                    img(src="img/card.jpg" alt="")
            .swiper-slide
                .card__pics  
                    img(src="img/card.jpg" alt="")
            .swiper-slide 
                .card__pics 
                    img(src="img/card.jpg" alt="")
            .swiper-slide 
                .card__pics 
                    img(src="img/card.jpg" alt="")
            .swiper-slide 
                .card__pics 
                    img(src="img/card.jpg" alt="")
        .swiper-button-prev
        .swiper-button-next
    .card__content 
        a(href="").card__name Квартиры под аренду или перепродажу в коливинге The Community с богатой инфр аструктурой в центре района Motor City, Дубай, ОАЭ
        span.card__price От $105 000
        ul.card__list
            li.card__item Построено в 2021
            li.card__item Всего 283 квартиры
        .card__footer 
            span.card__btn-gradient Жилой комплекс
            .card__time 
                img(src="img/clock.svg" alt="")
                span 2 недели назад