section.cases._container
    h2.title-section Кейсы наших клиентов
    .cases__wrapper 
        .cases__item 
            .cases__row 
                img.cases__pic(src="img/flag3.svg" alt="")
                p.cases__name Грин-карта США по программе ЕВ-5
                p.cases__text Инвестиции в региональный центр в ЛА
            .cases__row 
                .cases__col
                    p.cases__name 550 000 $
                    p.cases__text бюджет
                .cases__col
                    p.cases__name 8 месяцев
                    p.cases__text оформление
                .cases__col
                    p.cases__name 5
                    p.cases__text заявителей
        .cases__item 
            .cases__row 
                img.cases__pic(src="img/flag8.svg" alt="")
                p.cases__name ВНЖ Франции на 5 лет при покупке недвижимости
                p.cases__text Покупка 3-х односпальных апартаментов в Париже
            .cases__row 
                .cases__col
                    p.cases__name 290 000 €
                    p.cases__text бюджет
                .cases__col
                    p.cases__name 3 недели
                    p.cases__text оформление
                .cases__col
                    p.cases__name 3
                    p.cases__text заявителя
        .cases__item 
            .cases__row 
                img.cases__pic(src="img/flag2.svg" alt="")
                p.cases__name ВНЖ Испании при покупке недвижимости
                p.cases__text Дом на берегу моря
            .cases__row 
                .cases__col
                    p.cases__name 530 000 €
                    p.cases__text бюджет
                .cases__col
                    p.cases__name 2 месяца
                    p.cases__text оформление
                .cases__col
                    p.cases__name 4
                    p.cases__text заявителя
        .cases__item 
            .cases__row 
                img.cases__pic(src="img/flag5.svg" alt="")
                p.cases__name Гражданство Дубая
                p.cases__text Пожертвование государству
            .cases__row 
                .cases__col
                    p.cases__name 208 000 $
                    p.cases__text бюджет
                .cases__col
                    p.cases__name 4,5 месяцев
                    p.cases__text оформление
                .cases__col
                    p.cases__name 3
                    p.cases__text заявителя