.catalog-more__inner._container 
    h3.catalog-more__title Подборки жилой недвижимости за рубежом
    .catalog-more__links    
        a.catalog-more__link(href="") Элитная
        a.catalog-more__link(href="") У моря
        a.catalog-more__link(href="") От застройщика
        a.catalog-more__link(href="") Банковская
