section.catalog-more
    .catalog-more__inner._container 
        p.catalog-more__text В каталоге LifeEstate - <br> ещё 139 388 объявления за рубежом, которые могут вас заинтересовать
        a.catalog-more__show(href="") 
            span Показать все
            img(src="img/arrow-right.svg" alt="")
    .catalog-more__pic 
        img(src="img/towers-small.svg" alt="")