.swiper-slide
    .catalog-row__item
        a(href="").catalog-row__pic 
            img(src="img/dub1.jpg" alt="")
            span.bonus Готовый проект
            span.catalog-row__price От $105 000
        a(href="").catalog-row__content
            p.catalog-row__text Квартиры под аренду или перепродажу в коливинге The Community с богатой инфр аструктурой в центре района Motor City, Дубай, ОАЭ
            p.catalog-row__descr Доходность 9,0% Срок сдачи: 2026.I
            p.catalog-row__strong Жилой комплекс