.catalog-row 
    .catalog-row__head 
        h3.catalog-row__title Квартиры в Дубае
        .catalog-row__count 
            span.catalog-row__now 8
            span объявления из
            span.catalog-row__all 260
        a(href="").catalog-row__show-all
            span Показать все
            img(src="img/arrow-right.svg" alt="")
    .swiper.swiper-catalog.catalog-row__wrapper 
        .swiper-wrapper
            include catalog-card
            include catalog-card
            include catalog-card
            include catalog-card
            include catalog-card
            include catalog-card