.chart 
    .chart__wrapper._container 
        h2.title-section Рынок инвестиций 2022 года
        span.chart__descr Готовые стратегии инвестирования в зарубежную недвижимость со стартовым капиталом от 70 000 евро
        a.btn-default.chart__btn(href="") Посмотреть проекты