section.countries-list._container 
    a.countries-list__item(href="") Великобритания
    a.countries-list__item(href="") Испания
    a.countries-list__item(href="") США
    a.countries-list__item(href="") Турция
    a.countries-list__item(href="") Дубай
    a.countries-list__item(href="") Кипр
    a.countries-list__item(href="") Таиланд
    a.countries-list__item(href="") Франция