.feedback.feedback--mode
    .feedback__wrapper._container
        .feedback__col.feedback-contacts
            .feedback-contacts__pic 
                img(src="img/feedback-pic.png" alt="")
            span.feedback-contacts__name Марина Филичкина
            span.feedback-contacts__post Директор по продажам
            a(href="tel:88003331085").feedback-contacts__phone 8 (800) 333 10 85
        .feedback__col.feedback-form 
            span.feedback-form__head Менеджеры LifeEstate помогут с выбором объекта
            include form.pug
        .feedback__col.feedback-adv 
            .feedback-adv__item
                img(src="img/adv1.svg" alt="")
                span Работаем без комиссии
            .feedback-adv__item
                img(src="img/adv2.svg" alt="")
                span Полное сопровождение сделки
            .feedback-adv__item
                img(src="img/adv3.svg" alt="")
                span Кэшбэк до 1% от сделки