footer.footer 
    .footer__wrapper._container 
        .footer__nav 
            a.footer__item(href="") Контакты
            a.footer__item(href="") Статьи
            a.footer__item(href="") Страны
            a.footer__item(href="") Политика конфиденциальности