.feedback-form-wrap
    .feedback-form__inputs
        textarea(placeholder="Например, квартира за рубежом")
        input(type="text" placeholder="Имя")
        input(type="tel" placeholder="Телефон")
        input(type="mail" placeholder="Email")
        input(type="submit" value="Оставить заявку").btn-default 
    .feedback-form__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
