form.request__form.request-form 
    .request-form__row
        input(type="text" placeholder="Имя")
    .request-form__row
        input(type="text" placeholder="Телефон")
    .request-form__row
        input(type="text" placeholder="Электронная почта")
    .request-form__row
        textarea(placeholder="Напишите, какого плана проекты вы ищете, желаемую локацию и примерный бюджет")
    input(type="submit" value="Отправить запрос").btn-default.request__submit
    span.request__form-assent Я согласен с <a>правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
