.subscription    
    .subscription__form 
        p.subscription__title Получайте свежие статьи по почте
        p.subscription__text Будем присылать подборку материалов не чаще раза в неделю
        .subscription__footer 
            input(type="text" placeholder="Электронная почта")
            input(type="submit" value="Задать вопрос").btn-default
        p.subscription__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>

