section.grid-countries._container 
    a(href="").grid-countries__item.gc1
        img.grid-counties__pic(src="img/gc1.jpg")
        span.grid-countries__name Дубай
        span.grid-countries__count 5 225 объявлений
    a(href="").grid-countries__item.gc2
        img.grid-counties__pic(src="img/gc2.jpg")
        span.grid-countries__name Испания
        span.grid-countries__count 9 804 объявления
    a(href="").grid-countries__item.gc3
        img.grid-counties__pic(src="img/gc3.jpg")
        span.grid-countries__name Турция
        span.grid-countries__count 4 325 объявлений
    a(href="").grid-countries__item.gc4
        img.grid-counties__pic(src="img/gc4.jpg")
        span.grid-countries__name Франция
        span.grid-countries__count 10 409 объявлений
    a(href="").grid-countries__item.gc5
        img.grid-counties__pic(src="img/gc5.jpg")
        span.grid-countries__name Кипр
        span.grid-countries__count 8 183 объявления
    a(href="").grid-countries__item.gc6
        img.grid-counties__pic(src="img/gc6.jpg")
        span.grid-countries__name Великобритания
        span.grid-countries__count 3 329 объявлений
    a(href="").grid-countries__item.gc7
        img.grid-counties__pic(src="img/gc7.jpg")
        span.grid-countries__name США
        span.grid-countries__count 8 183 объявления
    a(href="").grid-countries__item.gc8
        img.grid-counties__pic(src="img/gc8.jpg")
        span.grid-countries__name Таиланд
        span.grid-countries__count 5 743 объявления
    a(href="").grid-countries__item.gc9
        img.grid-counties__pic(src="img/gc9.jpg")
        span.grid-countries__name Вся жилая недвижимость
        span.grid-countries__count 139 833 объявления