section.index-description._container
    .index-description__wrapper 
        .index-description__col 
            h2.index-description__header Подбираем недвижимость для жизни и инвестиций за рубежом
            ul.index-description__list.index-description-list
                li.index-description-list__item Работаем без комиссии
                li.index-description-list__item Полное сопровождение сделки
                li.index-description-list__item Работаем без комиссии
            include main-filter-index.pug
            .index-description__popular 
                span Популярные запросы: <a href="">недвижимость в Дубае</a>, <a href="">купить квартиру в Турции</a>
        .index-description__col 
            .index-description__count.index-description-count 
                .index-description-count__item
                    span.index-description-count__number 8
                    span.index-description-count__text офисов в Евразии
                .index-description-count__item
                    span.index-description-count__number 1400
                    span.index-description-count__text закрытых сделок
                .index-description-count__item
                    span.index-description-count__number 700
                    span.index-description-count__text партнёров по всему миру
