section.information
    .information__wrapper._container 
        .information__col
            .information__head
                img(src="img/glass.svg" alt="")
                h2.information__title Обзов рынков недвижимости
            .information__content 
                .information__item
                    img.information__pic(src="img/flag1.svg" alt="")
                    a(href="").information__text Калькулятор доходности в Великобритании: сравниваем краткосрочную и долгосрочную аренду на примере
                .information__item
                    img.information__pic(src="img/flag9.svg" alt="")
                    a(href="").information__text Как сдать квартиру в Берлине: обзор самого жёстко регулируемого рынка аренды в Европе
                .information__item
                    img.information__pic(src="img/flag5.svg" alt="")
                    a(href="").information__text Чем различаются рынки недвижимости Дубая и Абу-Даби: цены, доходность, получение ВНЖ
                .information__item
                    a(href="").information__text Международный рынок недвижимости: итоги 2021 года в исследовании LifeEstate
        .information__col
            .information__head
                img(src="img/message-circle.svg" alt="")
                h2.information__title Опыт наших клиентов
            .information__content 
                .information__item
                    a(href="").information__text Рассказ клиента LifeEstate о покупке квартиры в Анталье от первого лица
                .information__item
                    a(href="").information__text «Квартиры, которые мне нравились, раскупали в течение часа»: клиент Tranio об инвестиции в Дубай
                .information__item
                    a(href="").information__text Прогрессивная доходность квартиры в Берлине: опыт клиента LifeEstate
        .information__col
            .information__head
                img(src="img/idea.svg" alt="")
                h2.information__title Идеи для инвестиций
            .information__content 
                .information__item
                    a(href="").information__text Из монастыря в дом престарелых: проект реконструкции в Германии принесёт инвестору 12% годовых
                .information__item
                    a(href="").information__text Вложить 4 млн долларов в недвижимость и открыть бизнес в Дубае: кейс клиента LifeEstate
                .information__item
                    a(href="").information__text Проект реконструкции «Пантелеймонас»: финансовые результаты и доход инвестора
                .information__item
                    a(href="").information__text Сервисные апартаменты — простая и надёжная инвестиция в Германии