.investment-blocks._container
    .swiper.swiper-invest 
        .swiper-wrapper 
            .swiper-slide
                .investment-blocks__item
                    .investment-blocks__pic
                        img.investment-blocks__back(src='img/invdub.jpg')
                        span.investment-blocks__head Доходность годовых 
                        span.investment-blocks__percent 5 - 8%
                        img.investment-blocks__flag(src="img/flag5.svg" alt="")
                    .investment-blocks__content
                        a(href="").investment-blocks__name Квартиры под аренду в Дубае
                        span.investment-blocks__price От 220 000$
                        span.investment-blocks__footer ВНЖ от 205 000$
            .swiper-slide
                .investment-blocks__item
                    .investment-blocks__pic
                        img.investment-blocks__back(src='img/invtur.jpg')
                        span.investment-blocks__head Доходность годовых 
                        span.investment-blocks__percent 4 - 6% 
                        img.investment-blocks__flag(src="img/flag4.svg" alt="")
                    .investment-blocks__content
                        a(href="").investment-blocks__name Квартиры под аренду в Турции
                        span.investment-blocks__price От 70 000$
                        span.investment-blocks__footer Гражданство от 400 000$
            .swiper-slide
                .investment-blocks__item
                    .investment-blocks__pic.investment-blocks__pic--mode
                        img(src="img/document.svg" alt="")
                    .investment-blocks__content
                        span.investment-blocks__name Резидентство за инвестиции
                        span.investment-blocks__price От 150 000$
                        span.investment-blocks__footer  ВНЖ и Гражданство