.investment  
    .investment__wrapper._container
        img.investment__back(src="img/towers.svg" alt="")
        h2.title-section.investment__title 
            span Гражданство и ВНЖ за инвестиции
            span.investment__descr Программы инвестирования в недвижимость от 205 000 $ или в государственные фонды от 80 000 $.
        .investment__content
            p.investment__name Вид на жительство
            p Мы предлагаем самую популярную сейчас программу для инвесторов в Объединённых Арабских Эмиратах, визу EB-5 США, а также программы в Евросоюзе для финансово независимых иностранцев.
            p.investment__name Гражданство
            p Получить гражданство можно по программам Турции и Вануату.
        a.btn-default.investment__btn(href="") Подробнее о программах 