.main-filter.main-filter--inner._container
    .main-filter__value
        input.main-filter__location(type="text" placeholder="Город, регион, страна") 
    .main-filter__value.main-filter__select 
        select.main-filter__type(name="") 
            option(value="") Все типы
            option(value="") 2
            option(value="") 3
    .main-filter__value.main-filter__select 
        select.main-filter__price(name="") 
            option(value="") Цена
            option(value="") 2
            option(value="") 3
    .main-filter__value.main-filter__select 
        select.main-filter__descr
            option(value="") Спальни, ванные
            option(value="") Спальни, ванные
            option(value="") Спальни, ванные
    .main-filter__value.main-filter__select 
        select.main-filter__other
            option(value="") Ещё  
            option(value="") Ещё
    button.btn-default.main-filter__btn Найти