.map.tabs-wrap
    .map__wrapper._container
        .map__form.map-form
            .map-form__wrapper
                span.map-form__title Топ 5 лучших объектов недвижимости для жизни и инвестиций 
                p Скачайте PDF-презентацию в 1 клик
                input.map-form__phone.mask-phone(placeholder="+7 (123) 456 78 90")
                button.btn-default.map__btn Скачать презентацию
        .map__tabs.map-tabs 
            span.map-tabs__item.tab-btn.active Европа
            span.map-tabs__item.tab-btn США
            span.map-tabs__item.tab-btn Азия
            span.map-tabs__item.tab-btn ОАЭ
    .map__wrapper-shadow
    .map__pictures 
        .map__pic.map__pic1.tab-content.show
            img(src="img/main-map-desktop.svg" alt="")
            .map__places 
                a.map__point.place-london.on-medium(href="" data-count="310")
                    span Лондон
                a.map__point.place-parij.on-medium(href="" data-count="236")
                    span Париж
                a.map__point.place-lazurniy-bereg.on-large(href="" data-count="1796")
                    span Лазурный Берег
                a.map__point.place-barselona.on-medium(href="" data-count="499")
                    span Барселона
                a.map__point.place-alikante.on-large(href="" data-count="3717")
                    span Аликанте
                a.map__point.place-marbeliya.on-large(href="" data-count="1031")
                    span Марбелья
                a.map__point.place-albufeira.on-small(href="" data-count="53")
                    span Албуфейра
                a.map__point.place-lissabon.on-medium(href="" data-count="696")
                    span Лиссабон
                a.map__point.place-stambul.on-large(href="" data-count="1952")
                    span Стамбул
        .map__pic.map__pic2.tab-content.hide
            img(src="img/main-map-desktop.svg" alt="")
        .map__pic.map__pic3.tab-content.hide
            img(src="img/main-map-desktop.svg" alt="")
        .map__pic.map__pic4.tab-content.hide
            img(src="img/main-map-desktop.svg" alt="")
        //- .map__wrapper._container 




