.maps._container.tabs-wrap
    h2.title-section Офисы и представительства
    .maps__tabs 
        span.maps__tab.active.tab-btn Афины
        span.maps__tab.tab-btn Берлин
        span.maps__tab.tab-btn Лимассол
        span.maps__tab.tab-btn Дубай
    .maps__map.tab-content.show
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50310.60400157994!2d23.70331986973852!3d37.99083200833995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd1f067043f1%3A0x2736354576668ddd!2z0JDRhNC40L3Riywg0JPRgNC10YbQuNGP!5e0!3m2!1sru!2sru!4v1674304434442!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    .maps__map.tab-content.hide
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d310846.42014630133!2d13.14455370744738!3d52.50651327072207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2z0JHQtdGA0LvQuNC9LCDQk9C10YDQvNCw0L3QuNGP!5e0!3m2!1sru!2sru!4v1674304475962!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    .maps__map.tab-content.hide
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52488.52689408414!2d32.993090295150864!3d34.691735841660275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e73316ac02f49d%3A0xdaa97f957025b012!2z0JvQuNC80LDRgdGB0L7Quywg0JrQuNC_0YA!5e0!3m2!1sru!2sru!4v1674304496781!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    .maps__map.tab-content.hide
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462565.83258578245!2d54.65309330446408!3d25.074917209387166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2z0JTRg9Cx0LDQuSAtINCe0LHRitC10LTQuNC90LXQvdC90YvQtSDQkNGA0LDQsdGB0LrQuNC1INCt0LzQuNGA0LDRgtGL!5e0!3m2!1sru!2sru!4v1674304516867!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>