section.news._container 
    h2.title-section.news__title
        span Новости рынков недвижимости
        a 821 публикация
    .news__wrapper 
        .news__main-item 
            img(src="img/news-oae.jpg" alt="")
            span.news__date 09.11.2022
            a(href="").news__text Правительство ОАЭ вводит новые правила получения статуса налогового резидента
        .news__items 
            .news__item
                span.news__date.news__date--mode 02.11.2022
                a(href="").news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
            .news__item
                span.news__date.news__date--mode 01.11.2022
                a(href="").news__text Кипр собирается отменить льготы по НДС для некоторых типов недвижимости
            .news__item
                span.news__date.news__date--mode 31.10.2022
                a(href="").news__text Турция: 4 из 10 жилых объектов недвижимости в Анталье покупают иностранцы
            .news__item
                span.news__date.news__date--mode 17.10.2022
                a(href="").news__text Евростат: цены на жильё в Евросоюзе выросли на 10% во 2-м квартале 2022 года