.order__wrapper._container
    .order__pic
        img(src="img/women.png" alt="")
        .order__ellipse
            span Оксана Филочеева
            span руководитель <br> отдела продаж
    h2.title-section.order__title Перезвоним и подберём программу
    p.title-subtitle.order__subtitle Бесплатно консультируем по вопросам инвестиций, <br> подбираем недвижимость, рекомендуем юристов
    form.order__form.order-form
        .order-form__wrap 
            input(type="phone" placeholder="Телефон") 
            button.btn-default.order__submit Оставить заявку
        span.request__form-assent Я согласен с <a>правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
    ul.order__list.order__list--row
        li.order__item
            img(src="img/deal.svg" alt="")
            p.order__text Проверенные <br> юристы
        li.order__item
            img(src="img/lock.svg" alt="")
            p.order__text Конфиденциально
        li.order__item
            img(src="img/percent.svg" alt="")
            p.order__text Комиссия LifeEstate - 0%