section.pluses._container 
    .pluses__wrapper 
        .pluses__content 
            h2.title-section Плюсы резидентства за инвестиции
            .pluses__item
                span Мобильность.
            .pluses__item
                span Возможность жить или иметь активы в комфортной юрисдикции.
            .pluses__item
                span Документы может получить не только заявитель, 
                | но и члены его семьи: супруг(а), дети и родители обоих супругов. Условия для членов семьи зависят от программы.
            .pluses__item
                span Документы может получить не только заявитель,
                | но и члены его семьи: супруг(а), дети и родители обоих супругов. Условия для членов семьи зависят от программы.
            .pluses__item
                span Нет необходимости учить язык, сдавать экзамены и устраиваться на работу 
                | в выбранной стране.
            .pluses__item
                span Вы можете продолжать жить и вести бизнес в России, но при этом обеспечить себе и своей семье ВНЖ или гражданство, и пользоваться им по мере необходимости.
            .pluses__item 
                span Пассивный доход в евро или долларах: 
                | купленную недвижимость можно сдавать в аренду. Доход от аренды будет покрывать расходы на содержание и приносить вам прибыль.
        .pluses__col
            .pluses__list
                p.pluses__list-title Ограничения участия в программах
                ul.pluses-list 
                    li.pluses-list__item Отсутствие доказательств легальности дохода
                    li.pluses-list__item Персональные санкции со стороны ЕС, США, Великобритании и Канады
                    li.pluses-list__item Судимость

