section.popular-location._container 
    .popular-location__wrapper 
        a(href="").popular-location__item
            img(src="img/flag1.svg" alt="")
            span.popular-location__name Великобритания
            span.popular-location__count 463
        a(href="").popular-location__item
            img(src="img/flag2.svg" alt="")
            span.popular-location__name Испания
            span.popular-location__count 10 538
        a(href="").popular-location__item
            img(src="img/flag3.svg" alt="")
            span.popular-location__name США
            span.popular-location__count 463
        a(href="").popular-location__item
            img(src="img/flag4.svg" alt="")
            span.popular-location__name Турция
            span.popular-location__count 4 199
        a(href="").popular-location__item
            img(src="img/flag5.svg" alt="")
            span.popular-location__name Дубай
            span.popular-location__count 356
        a(href="").popular-location__item
            img(src="img/flag6.svg" alt="")
            span.popular-location__name Кипр
            span.popular-location__count 8 386
        a(href="").popular-location__item
            img(src="img/flag7.svg" alt="")
            span.popular-location__name Таиланд
            span.popular-location__count 3 015
        a(href="").popular-location__item
            img(src="img/flag8.svg" alt="")
            span.popular-location__name Франция
            span.popular-location__count 10 005