section.presentation._container 
    .presentation__col 
        .presentation__head
            h2.title-section.presentation__title ВНЖ Великобритании за инвестиции в недвижимость от 205 000$
            p.presentation__subtitle Доступно для граждан РФ в условиях санкций
        .presentation__list 
            .presentation__item
                img(src="img/key.svg" alt="")
                p.presentation__text Инвестиционная недвижимость
            .presentation__item
                img(src="img/quality.svg" alt="")
                p.presentation__text Неограниченное продление каждые 3 года
            .presentation__item
                img(src="img/payment.svg" alt="")
                p.presentation__text Недвижимость для собственного проживания
            .presentation__item
                img(src="img/dollar.svg" alt="")
                p.presentation__text ВНЖ получают супруга и дети инвестора
        p.presentation__subtitle Оставьте свой номер телефона, чтобы
        button.btn-default.btn-default--add.presentation__submit Скачать актуальные проекты
    .presentation__col 
        img(src="img/group-pic1.png" alt="")