section.programs._container 
    .programs__item
        span.programs__title Купить или арендовать недвижимость
        p Если вы хотите купить недвижимость за рубежом или арендовать её — в каталоге LifeEstate более 150 тысяч объявлений со всего мира.
    .programs__item
        span.programs__title Программы сотрудничества
        p Мы приглашаем агентства с богатым опытом и хорошей репутацией присоединиться к нашей партнёрской программе.
    .programs__item
        span.programs__title Инвестировать в зарубежную недвижимость
        p Предлагаем готовые решения для инвестиций в зарубежную недвижимость и разрабатываем индивидуальные проекты под любой бюджет.
    .programs__item
        span.programs__title Тематические материалы
        p На Tranio ежедневно публикуются свежие новости, аналитика и обзор рынков недвижимости по всему миру.
    .programs__item
        span.programs__title Продать или сдать недвижимость
        p Если вы продаёте или сдаёте в аренду дома и квартиры за границей — вы можете разместить на LifeEstate неограниченное количество своих объявлений.
    .programs__item
        span.programs__title ВНЖ через покупку греческой недвижимости
        p Tranio поможет получить вид на жительство в Греции при покупке недвижимости стоимостью от 250 тыс. евро