section.publication._container
    h2.title-section Публикация LifeEstate в СМИ
    .publication__wrapper 
        .publication__item
            img(src="img/publicpic1.png" alt="")
            .publication__col
                span.publication__title ТАСС
                a.publication__link(href="") Эксперт считает, что заморозка недвижимости в Черногории касается только отдельных лиц
        .publication__item
            img(src="img/publicpic2.png" alt="")
            .publication__col
                span.publication__title ТАСС
                a.publication__link(href="") Эксперт считает, что заморозка недвижимости в Черногории касается только отдельных лиц
        .publication__item
            img(src="img/publicpic3.png" alt="")
            .publication__col
                span.publication__title Взгляд
                a.publication__link(href="") Определен топ стран по спросу россиян на зарубежную недвижимость
        .publication__item
            img(src="img/publicpic4.png" alt="")
            .publication__col
                span.publication__title Взгляд
                a.publication__link(href="") Определен топ стран по спросу россиян на зарубежную недвижимость
        .publication__item
            img(src="img/publicpic5.png" alt="")
            .publication__col
                span.publication__title РБК
                a.publication__link(href="") Россиянам не запретили покупать недвижимость за границей
        .publication__item
            img(src="img/publicpic6.png" alt="")
            .publication__col
                span.publication__title РБК
                a.publication__link(href="") Россиянам не запретили покупать недвижимость за границей
        .publication__item
            img(src="img/publicpic7.png" alt="")
            .publication__col
                span.publication__title Реальное время
                a.publication__link(href="") Татарстан вошел в топ-10 регионов России по спросу на зарубежную недвижимость
        .publication__item
            img(src="img/publicpic8.png" alt="")
            .publication__col
                span.publication__title Реальное время
                a.publication__link(href="") Татарстан вошел в топ-10 регионов России по спросу на зарубежную недвижимость