.question._container 
    .question__wrapper 
        h2.title-section Популярные вопросы
        .question-tabs
            .question-tabs__col
                .question-tabs__tab
                    a.question-tabs__head <span>1.</span> Можно ли получить ипотеку за рубежом?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>2.</span> Какова процедура покупки?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>3.</span> Можно ли получить вид на жительство при покупке недвижимости?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
            .question-tabs__col
                .question-tabs__tab
                    a.question-tabs__head <span>4.</span> На чём вы зарабатываете, если ваши услуги бесплатны для клиентов?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>5.</span> Кто гарантирует безопасность сделки?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.

