section.recomendation4
    ._container 
        h2.title-section Редакция рекомендует
        .recomendation4__wrapper 
            .recomendation4__col
                h3.recomendation2__subtitle Справочник <br> покупателя
                .recomendation2__content
                    .recomendation2-best__item
                        a(href="") Стоимость недвижимость в Австрии 
                        span по регионам
                    .recomendation2-best__item
                        a(href="") Покупка недвижимости в Австрии: 
                        span этапы
                    .recomendation2-best__item
                        a(href="") Ипотека в Австрии:  
                        span процентные ставки
                    .recomendation2-best__item
                        a(href="") Налоги на недвижимость в Австрии 
                        span при покупке и владении
                    .recomendation2-best__item
                        a(href="") Коммунальные платежи в Австрии 
                        span страхование недвижимости
                    .recomendation2-best__item
                        a(href="") ВНЖ в Австрии 
                        span для иностранцев
                    .recomendation2-best__item
                        a(href="") Инвестиции в Австрию: 
                        span основные направления
            .recomendation4__col
                h3.recomendation2__subtitle Лучшие статьи LifeEstate <br>за рубежом
                .recomendation2__content.recomendation2-best
                    .recomendation2-best__item
                        img(src="img/rec-pic1.jpg" alt="")
                        a(href="").recomendation2__text Закрытые районы Стамбула для ВНЖ
                    .recomendation2-best__item 
                        img(src="img/rec-pic2.jpg" alt="")
                        a(href="").recomendation2__text Водительские права в Турции
                    .recomendation2-best__item
                        img(src="img/rec-pic3.jpg" alt="")
                        a(href="").recomendation2__text Интерес казахстанцев к зарубежной недвижимости повысился после начала мобилизации в России
                    .recomendation2-best__item
                        img(src="img/rec-pic4.jpg" alt="")
                        a(href="").recomendation2__text Гражданство ОАЭ: как получить паспорт
                    .recomendation2-best__item
                        img(src="img/rec-pic5.jpg" alt="")
                        a(href="").recomendation2__text Медицина в Дубае
                    .recomendation2-best__item.recomendation2__item-last
                        a(href="") ... и ещё <span>3801<span> публикация 
            .recomendation4__col 
                h3.recomendation2__subtitle Новости мирового рынка <br> недвижимости
                .recomendation2__content.recomendation2-news 
                    .recomendation2-news__item
                        date.recomendation2-news__date 09.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 02.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 01.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 31.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 17.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 10.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item.recomendation2__item-last
                        a(href="") ... и ещё <span>3801<span> публикация 