section.recomendation._container 
    h2.title-section.recomendation__title Рекомендовано редакцией
    .swiper.recomendation__swiper
        .swiper-wrapper 
            .swiper-slide 
                .recomendation__head 
                    img.recomendation__pic(src="img/flag5.svg" alt="")
                    span Что нужно знать об ОАЭ
                .recomendation__list    
                    .recomendation__item 
                        a.recomendation__link(href="") Сколько стоит квартира в Дубае,
                        span ОАЭ
                    .recomendation__item
                        a.recomendation__link(href="") Покупка квартиры в Дубае
                        span  - этапы
                    .recomendation__item
                        a.recomendation__link(href="") Ипотека в Дубае
                        span  для россиян
                    .recomendation__item
                        a.recomendation__link(href="") Налоги в ОАЭ
                        span  при покупке недвижимости
                    .recomendation__item
                        a.recomendation__link(href="") Коммунальные платежи в Дубае
                        span  - расчёт
                    .recomendation__item
                        a.recomendation__link(href="") Резидентская виза ОАЭ
                        span  - условия получения
                    .recomendation__item
                        a.recomendation__link(href="") Золотая виза ОАЭ
                        span  - как получить
                    .recomendation__item
                        a.recomendation__link(href="") Районы Дубая
                        span  для проживания и инвестиций
            .swiper-slide 
                .recomendation__head 
                    img.recomendation__pic(src="img/flag4.svg" alt="")
                    span Что нужно знать о Турции
                .recomendation__list 
                    .recomendation__item
                        a.recomendation__link(href="") Цены на недвижимость в Турции
                        span  от 700 до 3 000 евро/м²
                    .recomendation__item
                        a.recomendation__link(href="") Оформление покупки жилья в Турции 
                        span за 3 рабочих дня
                    .recomendation__item
                        a.recomendation__link(href="") Недвижимость в Турции в кредит 
                        span от 6% годовых на срок до 10 лет
                    .recomendation__item
                        a.recomendation__link(href="") Налог на покупку недвижимости в Турции
                        span  около 4%
                    .recomendation__item
                        a.recomendation__link(href="") Коммунальные платежи в Турции - 
                        span от 350 евро в год
                    .recomendation__item
                        a.recomendation__link(href="") Годовой
                        span  ВНЖ в Турции при покупке недвижимости 
                    .recomendation__item
                        a.recomendation__link(href="") Гражданство Турции за инвестиции 
                        span в недвижимость

            .swiper-slide 
                .recomendation__head 
                    img.recomendation__pic(src="img/flag8.svg" alt="")
                    span Что нужно знать о Франции
                .recomendation__list 
                    .recomendation__item
                        a.recomendation__link(href="") Сколько стоит недвижимость во Франции 
                        span по регионам
                    .recomendation__item
                        a.recomendation__link(href="") Покупка недвижимости во Франции
                        span  - этапы
                    .recomendation__item
                        a.recomendation__link(href="") Налоги на недвижимость во Франции 
                        span при покупке и владении
                    .recomendation__item
                        a.recomendation__link(href="") Коммунальные платежи
                        span  во Франции, страхование недвижимости
                    .recomendation__item
                        a.recomendation__link(href="") ВНЖ во Франции
                        span  для иностранцев
                    .recomendation__item
                        a.recomendation__link(href="") Как получить
                        span  гражданство Франции
            .swiper-slide 
                .recomendation__head 
                    img.recomendation__pic(src="img/flag8.svg" alt="")
                    span Что нужно знать о Франции
                .recomendation__list 
                    .recomendation__item
                        a.recomendation__link(href="") Сколько стоит недвижимость во Франции 
                        span по регионам
                    .recomendation__item
                        a.recomendation__link(href="") Покупка недвижимости во Франции
                        span  - этапы
                    .recomendation__item
                        a.recomendation__link(href="") Налоги на недвижимость во Франции 
                        span при покупке и владении
                    .recomendation__item
                        a.recomendation__link(href="") Коммунальные платежи
                        span  во Франции, страхование недвижимости
                    .recomendation__item
                        a.recomendation__link(href="") ВНЖ во Франции
                        span  для иностранцев
                    .recomendation__item
                        a.recomendation__link(href="") Как получить
                        span  гражданство Франции      
            .swiper-slide 
                .recomendation__head 
                    img.recomendation__pic(src="img/flag8.svg" alt="")
                    span Что нужно знать о Франции
                .recomendation__list 
                    .recomendation__item
                        a.recomendation__link(href="") Сколько стоит недвижимость во Франции 
                        span по регионам
                    .recomendation__item
                        a.recomendation__link(href="") Покупка недвижимости во Франции
                        span  - этапы
                    .recomendation__item
                        a.recomendation__link(href="") Налоги на недвижимость во Франции 
                        span при покупке и владении
                    .recomendation__item
                        a.recomendation__link(href="") Коммунальные платежи
                        span  во Франции, страхование недвижимости
                    .recomendation__item
                        a.recomendation__link(href="") ВНЖ во Франции
                        span  для иностранцев
                    .recomendation__item
                        a.recomendation__link(href="") Как получить
                        span  гражданство Франции                          
        .swiper-pagination.recomendation-pagination
        .swiper-button-prev.recomendation-button-prev
        .swiper-button-next.recomendation-button-next