section.recomendation2
    ._container 
        h2.title-section Редакция рекомендует
        .recomendation2__wrapper 
            .recomendation2__col
                h3.recomendation2__subtitle Лучшие статьи Tranio за рубежом
                .recomendation2__content.recomendation2-best
                    .recomendation2-best__item
                        img(src="img/rec-pic1.jpg" alt="")
                        a(href="").recomendation2__text Закрытые районы Стамбула для ВНЖ
                    .recomendation2-best__item 
                        img(src="img/rec-pic2.jpg" alt="")
                        a(href="").recomendation2__text Водительские права в Турции
                    .recomendation2-best__item
                        img(src="img/rec-pic3.jpg" alt="")
                        a(href="").recomendation2__text Интерес казахстанцев к зарубежной недвижимости повысился после начала мобилизации в России
                    .recomendation2-best__item
                        img(src="img/rec-pic4.jpg" alt="")
                        a(href="").recomendation2__text Гражданство ОАЭ: как получить паспорт
                    .recomendation2-best__item
                        img(src="img/rec-pic5.jpg" alt="")
                        a(href="").recomendation2__text Медицина в Дубае
                    .recomendation2-best__item.recomendation2__item-last
                        a(href="") ... и ещё <span>3801<span> публикация 
            .recomendation2__col 
                h3.recomendation2__subtitle Новости мирового рынка недвижимости
                .recomendation2__content.recomendation2-news 
                    .recomendation2-news__item
                        date.recomendation2-news__date 09.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 02.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 01.11.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 31.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 17.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item
                        date.recomendation2-news__date 10.10.2022
                        a(href="").recomendation2-news__text Итоги октября на рынке недвижимости Дубая: суммарная стоимость проданной off-plan недвижимости бьет рекорды
                    .recomendation2-news__item.recomendation2__item-last
                        a(href="") ... и ещё <span>3801<span> публикация 