<section class="residence-options _container">
    <div id="additional_passport" class="residence-option right-img">
        <div class="wrapper">
            <div class="residence-option-photo">
                <img src="img/ellipse-city1.png" alt="">
            </div>

            <div class="residence-option-info">
                <h2 class="section__title residence-option-info__title">Дополнительный паспорт для личных и бизнес-целей</h2>
                <p>Если вы хотите оформить дополнительный паспорт, мы советуем обратить внимание на программы стран Карибского бассейна, Республики Вануату или Турции. С таким паспортом вы получите мобильность, возможность открывать счета, вести международный бизнес. Гражданство получается один раз и на всю жизнь и его можно передать по наследству.</p>
                <div class="residence-table">
                    <div class="residence-table-row residence-table-head">
                        <div class="residence-table-cell residence-table-flag"><!-- empty for flag --></div>
                        <div class="residence-table-cell residence-table-program">Программа</div>
                        <div class="residence-table-cell residence-table-budget">Бюджет</div>
                        <div class="residence-table-cell residence-table-registration">Оформление</div>
                        <div class="residence-table-cell residence-table-investment">Объект инвестиции</div>
                    </div>
                    <div id="turkey" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag4.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="turkey">Турция</a>
                        </div>
                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 400 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>от 4 мес.</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Объект инвестиции">
                            <div>недвижимость</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="residence_by_investment" class="residence-option left-img">
        <div class="wrapper">
            <div class="residence-option-photo">
                <img src="img/ellipse-city2.png" alt="">
            </div>

            <div class="residence-option-info">
                <h2 class="section__title residence-option-info__title">ВНЖ за инвестиции в недвижимость</h2>
                <p>Покупка недвижимости может дать инвестору право на получение вида на жительство. ВНЖ выдаётся на несколько лет, по некоторым программам доступно продление ВНЖ без ограничения общего срока или подача заявки на гражданство.</p>
                <div class="residence-table">
                    <div class="residence-table-row residence-table-head">
                        <div class="residence-table-cell residence-table-flag"><!-- empty for flag --></div>
                        <div class="residence-table-cell residence-table-program">Программа</div>

                        <div class="residence-table-cell residence-table-citizenship">Гражданство</div>


                        <div class="residence-table-cell residence-table-budget">Бюджет</div>
                        <div class="residence-table-cell residence-table-registration">Оформление</div>
                    </div>


                    <div id="residence-uae" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag4.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="residence-uae">Турция </a>
                        </div>

                        <div class="residence-table-cell residence-table-citizenship" data-mobile-title="Гражданство">
                            <div>нет</div>
                        </div>


                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 400 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>от 4 мес.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div id="live_in_usa" class="residence-option right-img">
        <div class="wrapper">
            <div class="residence-option-photo">
                <img src="img/ellipse-city3.png" alt="">
            </div>

            <div class="residence-option-info residence-option-info__title">
                <h2 class="section__title residence-option-info__title">ВНЖ в Европе для финансово независимых</h2>
                <p>Чтобы постоянно жить и путешествовать по Европе достаточно оформить ВНЖ в одной из стран Евросоюза. ВНЖ для финансово независимых иностранцев или удалённых работников даёт право на проживание в стране ЕС, выдавшей карту резидента, и поездки по всем странам шенгена.</p>
                <div class="residence-table">
                    <div class="residence-table-row residence-table-head">
                        <div class="residence-table-cell residence-table-flag"><!-- empty for flag --></div>
                        <div class="residence-table-cell residence-table-program">Программа
                        </div>


                        <div class="residence-table-cell residence-table-citizenship">Гражданство ЕС</div>

                        <div class="residence-table-cell residence-table-budget">Бюджет</div>
                        <div class="residence-table-cell residence-table-registration">Оформление</div>
                        <div class="residence-table-cell residence-table-investment">Объект инвестиции</div>
                    </div>


                    <div id="usa-residence-EB-5" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag4.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="usa-residence-EB-5">ВНЖ Турции для работающих удалённо</a>
                        </div>


                        <div class="residence-table-cell residence-table-citizenship" data-mobile-title="Гражданство">
                            <div>нет</div>
                        </div>

                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 400 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>от 4 мес.</div>
                        </div>
                            <div class="residence-table-cell residence-table-investment" data-mobile-title="Объект инвестиции">
                                <div>подтверждённый доход</div>
                        </div>
                    </div>

                    <div id="usa-residence-E-2" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag8.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="usa-residence-E-2">ВНЖ Франции для финансово независимых</a>
                        </div>
                        <div class="residence-table-cell residence-table-citizenship" data-mobile-title="Гражданство">
                            <div>да, после 10 лет проживания</div>
                        </div>

                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 80 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>3-6 мес.</div>
                        </div>
                        <div class="residence-table-cell residence-table-investment" data-mobile-title="Объект инвестиции">
                            <div>подтверждённый капитал и доход</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <div id="live_in_europe" class="residence-option left-img">
        <div class="wrapper">
            <div class="residence-option-photo">
                <img src="img/ellipse-city4.png" alt="">
            </div>

            <div class="residence-option-info">
                <h2 class="section__title residence-option-info__title">Резидентство США</h2>
                <p>Инвестиционная виза EB-5 даёт право на проживание, работу и ведение бизнеса в США. Инвестор и члены его семьи могут получить гринкарту (ВНЖ) или гражданство США. Из‑за высокого спроса на визы EB-5 есть очередь, альтернативный вариант — получение бизнес-визы E-2 при наличии паспорта Турции или Гренады.
                </p>
                <div class="residence-table">
                    <div class="residence-table-row residence-table-head">
                        <div class="residence-table-cell residence-table-flag"><!-- empty for flag --></div>
                        <div class="residence-table-cell residence-table-program">Программа</div>

                        <div class="residence-table-cell residence-table-citizenship">Гражданство США</div>


                        <div class="residence-table-cell residence-table-budget">Бюджет</div>
                        <div class="residence-table-cell residence-table-registration">Оформление</div>
                        <div class="residence-table-cell residence-table-investment">Объект инвестиции</div>
                    </div>
                    <div id="greece-digital" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag3.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="greece-digital">Инвестиционная программа ЕВ-5</a>
                        </div>

                        <div class="residence-table-cell residence-table-citizenship" data-mobile-title="Гражданство США">
                            <div>да</div>
                        </div>


                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 400 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>от 4 мес.</div>
                        </div>
                        <div class="residence-table-cell residence-table-investment" data-mobile-title="Объект инвестиции">
                            <div>бизнес-проект в регионе</div>
                        </div>
                    </div>
                    <div id="greece-digital" class="residence-table-row ">
                        <div class="residence-table-cell residence-table-flag">
                            <i><img src="img/flag3.svg" alt=""></i>
                        </div>
                        <div class="residence-table-cell residence-table-program">
                            <a href="javascript:void(0)" data-slug="greece-digital">Инвестиционная программа Е-2</a>
                        </div>

                        <div class="residence-table-cell residence-table-citizenship" data-mobile-title="Гражданство США">
                            <div>нет</div>
                        </div>


                        <div class="residence-table-cell residence-table-budget" data-mobile-title="Бюджет">
                            <div>от 80 000 $</div>
                        </div>
                        <div class="residence-table-cell residence-table-registration" data-mobile-title="Оформление">
                            <div>3-6 мес.</div>
                        </div>
                        <div class="residence-table-cell residence-table-investment" data-mobile-title="Объект инвестиции">
                            <div>бизнес-проект</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>