section.reviews-slider._container 
    h2.title-section.reviews-slider__title
        span Отзывы клиентов о нашей работе
        a 51 публикация

    .swiper.reviews-slider__swiper
        .swiper-wrapper 
            .swiper-slide 
                .reviews-slider__slide 
                    img(src="img/review-stambul.jpg" alt="")
                    .reviews-slider__content 
                        span.reviews-slider__name Опыт клиента LifeEstate: покупка квартиры в Стамбуле для переезда и защиты капитала.
                        span.reviews-slider__text За два выходных дня менеджер Tranio в Стамбуле Юлия показала нам максимум подходящих под наш запрос объектов. Также Юлия научила нас одному трюку, который сэкономил нам 20 тысяч долларов.           
            .swiper-slide
                .reviews-slider__slide 
                    img(src="img/review-stambul.jpg" alt="")
                    .reviews-slider__content 
                        span.reviews-slider__name Опыт клиента LifeEstate: покупка квартиры в Стамбуле для переезда и защиты капитала.
                        span.reviews-slider__text За два выходных дня менеджер Tranio в Стамбуле Юлия показала нам максимум подходящих под наш запрос объектов. Также Юлия научила нас одному трюку, который сэкономил нам 20 тысяч долларов.
            .swiper-slide
                .reviews-slider__slide 
                    img(src="img/review-stambul.jpg" alt="")
                    .reviews-slider__content 
                        span.reviews-slider__name Опыт клиента LifeEstate: покупка квартиры в Стамбуле для переезда и защиты капитала.
                        span.reviews-slider__text За два выходных дня менеджер Tranio в Стамбуле Юлия показала нам максимум подходящих под наш запрос объектов. Также Юлия научила нас одному трюку, который сэкономил нам 20 тысяч долларов.
        .swiper-pagination.reviews-slider-pagination
        .swiper-button-prev.reviews-slider-button-prev
        .swiper-button-next.reviews-slider-button-next