.sidebar
    .sidebar.sidebar-form 
        h2.sidebar-form__head Консультация специалиста
        p Мы перезвоним, чтобы сориентировать вас по актуальным предложениям
        form(action="" method="post").feedback-form-wrap
            .feedback-form__inputs
                input(type="text" placeholder="Имя")
                input(type="tel" placeholder="Телефон")
                input(type="mail" placeholder="Email")
            input(type="submit" value="Оставить заявку").btn-default
            .feedback-form__assent Я согласен с <a href="">правилами обработки персональных данных и политикой конфиденциальности LifeEstate</a>
