section.statistic._container 
    .statistic__station
        h2.title-section.statistic__title
            span Статьи LifeEstate
            a 3798 публикаций
        .statistic-station__wrapper 
            .statistic-station__item 
                img(src="img/st1.jpg" alt="")
                .statistic-station__content 
                    span.statistic-station__date Вчера
                    p.statistic-station__text Закрытые районы Стамбула для ВНЖ
            .statistic-station__item 
                img(src="img/st2.jpg" alt="")
                .statistic-station__content 
                    span.statistic-station__date 16.11.2022
                    p.statistic-station__text Водительские права в Турции
            .statistic-station__item 
                img(src="img/st3.jpg" alt="")
                .statistic-station__content 
                    span.statistic-station__date 15.11.2022
                    p.statistic-station__text Интерес казахстанцев к зарубежной недвижимости повысился после начала мобилизации в России 
            .statistic-station__item 
                img(src="img/st4.jpg" alt="")
                .statistic-station__content 
                    span.statistic-station__date 14.11.2022
                    p.statistic-station__text Гражданство ОАЭ: как получить паспорт

    .statistic__analitic 
        h2.title-section.statistic__title
            span Наша аналитика
            a 41 публикация
        .statistic-analitic__wrapper 
            .statistic-analitic__block 
                span.statistic-analitic__percent 56%
                p.statistic-analitic__strong русскоязычных инвесторов покупали зарубежную недвижимость, чтобы получить гражданство или ВНЖ
                hr
                p.statistic-analitic__text Две беды русских инвесторов: аналитическое исследование LifeEstate (2021)
            p.statistic-analitic__text Международный рынок недвижимости: итоги 2021 года в исследовании LifeEstate
            hr
            p.statistic-analitic__text В Турцию - за поаспортом, на ПМЖ - в Германию и США: выбор русскоязычных клиентов в 1 половине 2022