section.steps._container 
    .steps__wrapper 
        .steps__col
            h2.steps__head Как купить недвижимость с LifeEstate
            .steps__item
                img(src="img/phone-call.svg" alt="")
                .steps__content
                    span.steps__name Заявка
                    p Отправьте нам запрос с примерным описанием объекта недвижимости или инвестиционного проекта, который вас интересует.
            .steps__item
                img(src="img/users.svg" alt="")
                .steps__content
                    span.steps__name Знакомство с партнёрами
                    p После уточнения деталей запроса мы знакомим вас с нашими партнёрами или локальными сотрудниками.
            .steps__item
                img(src="img/zoom-out.svg" alt="")
                .steps__content
                    span.steps__name Подбор предложений
                    p Вместе мы выбираем подходящие варианты. LifeEstate не берет с вас комиссию — цена объекта остается такой же, как если бы вы обратились к нашему партнёру напрямую.
            .steps__item
                img(src="img/map-pin2.svg" alt="")
                .steps__content
                    span.steps__name Просмотровый тур
                    p Вы отправляетесь на осмотр выбранного объекта или объектов. На месте вас встретят наши партнёры или сотрудники европейских офисов LifeEstate.
            .steps__item
                img(src="img/edit.svg" alt="")
                .steps__content
                    span.steps__name Заключение сделки
                    p Выбрав лучший объект, вы подписываете договор купли-продажи или договор инвестирования (для девелопмента).
        .steps__col 
            h2.steps__head Часто задаваемые вопросы
            .steps__tabs.question-tabs
                .question-tabs__tab
                    a.question-tabs__head <span>1.</span> Можно ли получить ипотеку за рубежом?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>2.</span> Какова процедура покупки?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>3.</span> Можно ли получить вид на жительство при покупке недвижимости?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>4.</span> На чём вы зарабатываете, если ваши услуги бесплатны для клиентов?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.
                .question-tabs__tab
                    a.question-tabs__head <span>5.</span> Кто гарантирует безопасность сделки?
                    .question-tabs__content
                        p Зависит от страны. Например, немецкие банки охотно выдают ипотеку иностранцам под 1,5–2 % годовых, которая может оплатить до 70 % стоимости объекта. Испания предлагает менее выгодные условия: минимальная ставка для иностранцев составляет 2,5 % годовых. Другая ситуация в Греции: хотя формально выдача кредитов не запрещена, на практике греческие банки не выдают займы ни местным, ни иностранным покупателям недвижимости. Вы можете узнать об условиях получения ипотеки в интересующей вас стране, связавшись с менеджерами LifeEstate.

