section.subscription
    .subscription__wrapper-2._container
        .subscription__content 
            p Интересуетесь недвижимостью в Великобритании? Подпишитесь на наш <a href="">телеграм-канал!</a>
            p Публикуем полезные заметки о рынке Великобритании, рассказываем как купить и публикуем свежие проекты.
        img(src="img/phone-subscr.png", alt="")