.subscription
    .subscription__wrapper 
        a(href="").subscription__link 
            img(src="img/telegram3.svg" alt="")
        p.subscription__title Подписывайтесь на наши каналы
        p.subscription__text Мы публикуем инвестиционные лайфхаки, новости рынка и анонсируем новые проекты.
        .subscription__channels 
            a.subscription__item(href="")
                img.subscription__pic(src="img/ch1.jpg" alt="")
                span.subscription__name Турция
            a.subscription__item(href="")
                img.subscription__pic(src="img/ch2.jpg" alt="")
                span.subscription__name Дубай
            a.subscription__item(href="")
                img.subscription__pic(src="img/ch3.jpg" alt="")
                span.subscription__name Греция
            a.subscription__item(href="")
                img.subscription__pic(src="img/ch4.jpg" alt="")
                span.subscription__name Паспорта и ВНЖ
