section.team._container 
    h2.title-section Команда LifeEstate
    .team__wrapper 
        .team__item
            .team__pic 
                img(src="img/teamuser1.jpg" alt="")
            span.team__name 
            span.team__descr 
        .team__item
            .team__pic 
                img(src="img/teamuser2.jpg" alt="")
            span.team__name 
            span.team__descr 
        .team__item
            .team__pic.team__pic--mode
                span Вся команда LifeEstate
            span.team__name 
            span.team__descr 
