.variants-investment._container 
    h2.title-section
    .variants-investment__grid 
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 4,9-10,9%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 5-8%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent до 6%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__text Гражданство Турции
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent до 10%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__text ВНЖ ОАЭ
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag2.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 3-6%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag3.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 2-4,5%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag6.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 4-9%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag1.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 8%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag4.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 7%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag4.svg" alt="")
        a(href="").variants-investment__item
            .variants-investment__head 
                span.variants-investment__percent 7%
                span.variants-investment__text годовая доходность
            .variants-investment__descr Вторичные квартиры в Дубае с арендатором от 122 000$
            img.variants-investment__flag(src="img/flag6.svg" alt="")