section.why._container 
    .h2.title-section Почему LifeEstate
    .why__wrapper 
        .why__row
            .why__col
                span.why__head Мы не посредничаем при сделке
                p.why__text Напрямую связываем клиентов с нашими зарубежными партнёрами — лучшими агентствами и застройщиками в стране покупки.
            .why__col
                span.why__head 137 млн €
                p.why__text общая стоимость проданных коммерческих объектов
        .why__row
            .why__col
                span.why__head Мы работаем без дополнительных наценок для клиентов
                p.why__text Если вы покупаете недвижимость с нашей помощью, то цена для вас будет такая же, как если бы вы обратились к зарубежному партнёру напрямую. Это важное условие, зафиксированное в наших договорах со всеми партнёрами.
            .why__col
                span.why__head 3 700
                p.why__text коммерческих предложений
        .why__row
            .why__col
                span.why__head Мы придерживаемся прозрачности в деловых отношениях
                p.why__text Все участники сделки знают свою роль и функции других сторон, имена партнёров и контрагентов всегда открыты для клиентов.
            .why__col
                span.why__head 700
                p.why__text компаний-партнёров в Европе, США и Азии