doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper-page
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html") Главная
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a О Статьи

                .articles._container 
                    .articles__select
                        select
                            option(value="Все страны") Все страны 
                            option(value="Все страны") Все страны
                            option(value="Все страны") Все страны
                    .page__title.articles__title Статьи о зарубежной недвижимости
                    section.articles__wrapper 
                        .articles__sidebar.articles-sidebar
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Исследования LifeEstate
                                span.articles-sidebar__count 41
                            a.articles-sidebar__item(href="") 
                                span.articles-sidebar__text Инвестиции
                                span.articles-sidebar__count 713
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Рынки и цены
                                span.articles-sidebar__count 1416
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Покупака и оформление
                                span.articles-sidebar__count 598
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text ВНЖ
                                span.articles-sidebar__count 263
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Налоги
                                span.articles-sidebar__count 245
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Новости LifeEstate
                                span.articles-sidebar__count 311
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Истории покупателей
                                span.articles-sidebar__count 41
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Стиль жизни 
                                span.articles-sidebar__count 1694
                            a.articles-sidebar__item(href="")
                                span.articles-sidebar__text Путешествия
                                span.articles-sidebar__count 17
                        .articles__content.articles-content
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 21 ноя. 2022
                                    span.articles-content__title Закрытые районы Стамбула для ВНЖ
                                    p.articles-content__text В 2022 году правительство Турции ограничило регистрацию новых ВНЖ в тех кварталах, где доля иностранцев по отношению к местному населению превысила 20%.
                                img.articles-content__pic(src="img/art-pic1.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 16 ноя. 2022
                                    span.articles-content__title Водительские права в Турции
                                    p.articles-content__text Туристам в Турции обычно достаточно водительского удостоверения своей страны, а при более длительном проживании могут понадобиться права международного образца или турецкие национальные права. Нужный тип документа зависит от сроков пребывания в стране и того, какой тип удостоверения у иностранного водителя.
                                img.articles-content__pic(src="img/art-pic2.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 15 ноя. 2022
                                    span.articles-content__title Интерес казахстанцев к зарубежной недвижимости повысился после начала мобилизации в России
                                    p.articles-content__text По данным LifeEstate, спрос жителей Казахстана на зарубежную недвижимость за три квартала 2022 года в целом снизился на 17% к прошлогодним показателям. Однако, в конце сентября – начале октября количество заявок из Казахстана резко выросло: жители страны в 2 раза чаще стали обращаться за услугами по подбору недвижимости за рубежом.
                                img.articles-content__pic(src="img/art-pic3.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 14 ноя. 2022
                                    span.articles-content__title Гражданство ОАЭ: как получить паспорт
                                    p.articles-content__text Несмотря на то, что иностранцы составляют больше 80% населения ОАЭ, получить гражданство в Дубае россиянину, как и любому другому иностранцу, очень сложно.
                                img.articles-content__pic(src="img/art-pic4.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 10 ноя. 2022
                                    span.articles-content__title Медицина в Дубае для иностранцев: система здравоохранения в ОАЭ
                                    p.articles-content__text Система здравоохранения в ОАЭ по праву считается одной из лучших в мире. Уровень медицины в ОАЭ настолько высокий, что в совокупности на 100 тысяч жителей здесь приходится 231 врач.
                                img.articles-content__pic(src="img/art-pic5.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 4 ноя. 2022
                                    span.articles-content__title Лучшие застройщики Дубая
                                    p.articles-content__text В ОАЭ государство внимательно следит за сектором недвижимости, само контролирует некоторых крупнейших игроков, а также законодательно защищает покупателей от риска, что девелопер не закончит строительство. В этой статье мы расскажем про особенности основных застройщиков Дубая и их последние проекты.
                                img.articles-content__pic(src="img/art-pic6.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 2 ноя. 2022
                                    span.articles-content__title Районы Пхукета для жизни, инвестиций и отдыха
                                    p.articles-content__text Пхукет — южная островная провинция Таиланда в Андаманском море Индийского океана.
                                img.articles-content__pic(src="img/art-pic7.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 1 ноя. 2022
                                    span.articles-content__title Инвестиции в недвижимость в Дубае и ОАЭ: почему это выгодно
                                    p.articles-content__text Не секрет, что Дубай сейчас — чрезвычайно популярное место, куда устремляются капиталы состоятельных россиян. Однако популярность Дубая обусловлена не только прямыми рейсами или сокращением альтернатив у россиян для покупки недвижимости.
                                img.articles-content__pic(src="img/art-pic8.jpg" alt="")
                            a.articles-content__item(href="")
                                .articles-content__col
                                    span.articles-content__date 31 окт. 2022
                                    span.articles-content__title В 3 квартале 2022 Турцию и Дубай накрыла новая волна инвестиций из России
                                    p.articles-content__text По данным LifeEstate, в 3 квартале 2022 года спрос россиян на недвижимость за рубежом увеличился на 84% по отношению к прошлому году.
                                img.articles-content__pic(src="img/art-pic9.jpg" alt="")



                section.feedback.feedback--color4
                    include modules/forms/feedback-large


            include modules/footer
        include modules/script