doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper-page
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html") Главная
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a Статья

                .article._container
                    .article__content.article-content 
                        h2.page__title.article__title Закрытые районы Стамбула для ВНЖ
                        .article__views 
                            span 
                                img(src="img/eye.svg" alt="")
                                | 126 просмотров
                            span Обновлено 21 ноября 2022
                        figure.article__pic
                            img(src="img/artpic1.jpg" alt="")
                            figcaption Panza.studio / Shutterstock
                        p В 2022 году правительство Турции ограничило регистрацию новых ВНЖ в тех кварталах, где доля иностранцев по отношению к местному населению превысила 20%. Ограничение распространяется почти на все типы вида на жительство, за исключением семейных ВНЖ и продления ранее оформленных.
                        p Собственники недвижимости и арендаторы, которые купили или сняли жильё в этих кварталах после 26 апреля 2022 года, тоже не могут претендовать на ВНЖ на основании недвижимости.
                        .article__block-important 
                            p На паспортную программу <a href="">гражданства за инвестиции в недвижимость Турции</a> это ограничение не распространяется
                        p Полный список кварталов, где приостановлена регистрация, <a href="">размещён</a> на сайте Миграционного управления.
                        p В Турции многоуровневая муниципальная структура. Речь идёт о последнем уровне — кварталах (mahalle), а не о районах (ilce). Например, в Стамбуле есть район (ilce) Бейликдюзю, и в этом районе есть одноимённый квартал (mahalle) Бейликдюзю. Так вот регистрация ВНЖ иностранцам приостановлена не во всём районе, а только в его части — квартале Бейликдюзю.
                        p Обращайте внимание на этот список, прежде чем арендовать или <a href="">покупать недвижимость для ВНЖ Турции</a>. В Стамбуле под ограничения попали 54 квартала.
                        p Красным на карте города обозначены кварталы с ограничением на новые ВНЖ (вы можете перемещать область захвата и увеличивать карту. По умолчанию область захвата установлена на центральных районах европейской части города):
                        figure.article__pic
                            img(src="img/artpic2.jpg" alt="")
                        p Помимо закрытых кварталов, в нескольких районах (ilce) Стамбула ввели отдельное ограничение на туристический тип ВНЖ, который оформляют по аренде недвижимости.
                        p ВНЖ по долгосрочной аренде теперь нельзя получить в 10 районах европейской части Стамбула:
                        table 
                            tr 
                                th Район Стамбула
                                th Начало действия ограничения
                            tr
                                td Эсеньюрт
                                td С октября 2021 года
                            tr
                                td Фатих
                                td С октября 2021 года
                            tr
                                td Бахчелиэвлер
                                td С октября 2021 года
                            tr
                                td Авджылар
                                td С октября 2021 года
                            tr
                                td Кючюкчекмедже
                                td С октября 2021 года
                            tr
                                td Эсенлер
                                td С октября 2021 года
                            tr
                                td Башакшехир
                                td С октября 2021 года
                            tr
                                td Багджылар
                                td С октября 2021 года
                            tr
                                td Султангази
                                td С октября 2021 года
                            tr
                                td Зейтинбурну
                                td С октября 2021 года
                        .article__quote.article-quote
                            .article-quote__content 
                                p Те кварталы, что мы нанесли на карту, и районы из таблицы имеют разные ограничения, и отличия нужно понимать. В кварталах на карте (mahalle) ВНЖ не смогут получить даже собственники недвижимости.
                                p А в районах (ilce) из таблицы ограничение действует только на ВНЖ по аренде и не распространяется на ВНЖ для собственников недвижимости
                            .article-quote__footer 
                                img(src="img/cirgaeva.png" alt="")
                                .article-quote__worker
                                    span.article-quote__name Юлия Цыргаева
                                    span.article-quote__text менеджер LifeEstate в Стамбуле

                        .article__redactor.article-redactor
                            span.article-redactor__name Алеся Разкевич, Контент-редактор
                            a(href="").article-redactor__all Все статьи этого автора
                            .article__share
                                span Поделитель статьей
                                .article__share-social 
                                    a(href="")  
                                        img(src="img/telegram2.svg" alt="")
                                    a(href="")  
                                        img(src="img/whatsapp2.svg" alt="")
                        include modules/subscription-channels
                        include modules/get-news
                        


                    .article__sidebar.article-sidebar 
                        .article-sidebar__top-articles.top-articles
                            h3.article-sidebar__title Топ-5 статей этого месяца
                            ul.top-articles__list 
                                li.top-articles__item
                                    a(href="") «Золотая виза» в ОАЭ
                                li.top-articles__item
                                    a(href="") Гражданство Турции за инвестиции в недвижимость в 2022 году
                                li.top-articles__item
                                    a(href="") Резидентская виза в ОАЭ: как получить в 2022 году
                                li.top-articles__item
                                    a(href="") ВНЖ в Турции для россиян в 2022 году
                                li.top-articles__item
                                    a(href="") Как получить вид на жительство на Кипре в 2022 году
                        .article-sidebar__read-more.read-more
                            h3.article-sidebar__title Читайте также
                            ul.read-more__list
                                li.read-more__item
                                    a(href="") Водительские права в Турции
                                li.read-more__item
                                    a(href="") Интерес казахстанцев к зарубежной недвижимости повысился после начала мобилизации в России 
                                li.read-more__item
                                    a(href="") В 3 квартале 2022 Турцию и Дубай накрыла волна инвестиций из России
                                li.read-more__item
                                    a(href="") Турция: 4 из 10 жилых объектов недвижимости в Анталье покупают иностранцы
                                li.read-more__item
                                    a(href="") Гражданство ОАЭ: как получить паспорт


                section.feedback.feedback--color1
                    include modules/forms/feedback-large


            include modules/footer
        include modules/script