doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper-page
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html") Главная
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a(href="") Недвижимость за рубежом
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a(href="") ОАЭ
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a(href="") Дубай
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a MBR City

                section.swiper.swiper-object 
                    .swiper-wrapper 
                        .swiper-slide
                            img(src="img/object-pic1.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic2.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic3.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic1.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic1.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic2.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic3.jpg" alt="")
                        .swiper-slide
                            img(src="img/object-pic1.jpg" alt="")

                .wrap._container
                    .appart-wrap 
                        h1.page__title.appart-wrap__title Апартаменты с двумя спальнями и террасой в элитном жилом комплексе в центре города, Лондон, Великобритания
                        .appart-wrap__price 
                            span 2 015 000 €
                            span 19 009 €/м2
                            a(href="") Пересчитать в рубли
                        ul.apper-wrap__size 
                            li
                                span Общая площадь
                                span 106 м<sup>2</sup>
                            li
                                span Спальни
                                span 2
                            li
                                span Ванные
                                span 2
                        .appart-wrap__btns 
                            button.btn-default Запросить актуальность объекта
                            button.btn-default.btn-default--blue Отправить объявление себе

                        .appart-wrap__content.appart-wrap-content 
                            .appart-wrap__block
                                h2.title-section Особенности
                                .features
                                    span.features__item Всего комнат: 3
                                    span.features__item Балкон или терраса
                                    span.features__item 10-тиэтажное здание
                                    span.features__item Бассейн
                                    span.features__item 2 этаж
                                    span.features__item Сад
                                    span.features__item Построено в 2021
                            .appart-wrap__block
                                p Просторные апартаменты с двумя спальнями и терррасой на втором этаже в строящемся жилом комплексе с садом в королевском боро Кенсингтон и Челси, Лондон. Жилой комплекс включает апартаменты и пентхаусы с одной, двумя и тремя спальнями. Дизайн и оборудование апартаментов выполнены на высоком уровне: индивидуально спроектированные кухни с первоклассной бытовой техникой, удобные и стильные гостиные, прекрасные ванные комнаты.
                                p    Для жителей комплекса работает консьерж-служба Harrods Estates и превосходный комплекс для отдыха, включающий спортзал и фитнес-студию, бассейн и гидромассажный бассейн, сауну и парную, а также просторный зал для просмотра фильмов.На все квартиры распространяется 10-летняя гарантия на строительство.
                            .appart-wrap__block
                                h2.title-section Внутреннее пространство
                                p Апартаменты включают просторную гостиную-столовую с кухней открытой планировки и выходом на террасу, главную спальню с отдельной ванной комнатой и гардеробной, спальню, душевую комнату и кладовую.
                                h2.title-section Оснащение
                                ul
                                    li отопление и горячая вода из общей системы
                                    li подогрев полов в ванных комнатах и душевых комнатах
                                    li комфортное охлаждение/ отопление во всех приемных и спальнях
                                    li спроектированные по индивидуальному дизайну кухни
                                    li бытовая техника Küppersbusch
                                    li видеосистема для входа
                                    li точки подключения для беспроводной охранной сигнализации
                                    li все квартиры оборудованы датчиками дыма, работающими от сети, и противопожарными системами
                                    li подготовка для встроенной медиа-системы
                                    li подводка для автоматических штор и многое другое
                                h2.title-section Расположение и объекты поблизости
                                p Апартаменты имеют превосходное расположение в сердце королевского боро Кенсингтон и Челси, рядом со знаменитым Голландским парком, Кенсингтонбриджем и Челси, которые считаются наиболее востребованными жилыми районами.
                                p Независимо от того, посещяете ли вы бутики люксовых брендов или проводите культурные мероприятия, королевский боро Кенсингтон и Челси предлагает множество вариантов. Некоторые из самых известных магазинов Лондона и торговых улиц можно найти поблизости: Harrods, Harvey Nichols, Sloane Street, Kensington Church Street. В этом районе расположены многочисленные культурные объекты, среди которых Кенсингтонский дворец, Королевский Альберт-Холл и Музей Виктории и Альберта.
                                p От жилого комплекса легко добраться до аэропортов Хитроу и Гатвик, а также до вокзала Сент-Панкрас, откуда отправляются международные поезда Eurostar.
                            .appart-wrap__block
                                .appart-wrap__maps.appart-wrap-maps 
                                    .appart-wrap-maps__item
                                        img(src="img/appart-map1.png" alt="")
                                        .appart-wrap-maps__footer
                                            a(href="").appart-wrap-maps__name Объект на карте
                                            p Локация с точностью до дома, улицы или города
                                    .appart-wrap-maps__item
                                        img(src="img/appart-map2.png" alt="")
                                        .appart-wrap-maps__footer
                                            a(href="").appart-wrap-maps__name Другие объекты
                                            p Ещё предложения поблизости
                            h2.title-section Дополнительные предложения
                            p Если вам не подошло это объявление, обратите внимание на другие <a href="">новостройки в Великобритании</a>.
                            p Также на сайте представлены <a href="">новостройки в Кенсингтоне</a>.

                    include modules/sidebar-object


                section.feedback.feedback--color2
                    include modules/forms/feedback-question
                section.ads-block._container 
                    h2.title-section Похожие объявления
                    .swiper.swiper-ads
                        .swiper-wrapper
                            .swiper-slide
                                include modules/catalog-card
                            .swiper-slide 
                                include modules/catalog-card
                            .swiper-slide 
                                include modules/catalog-card
                            .swiper-slide 
                                include modules/catalog-card
                            .swiper-slide 
                                include modules/catalog-card
                            .swiper-slide 
                                include modules/catalog-card
                    .swiper-pagination
                    .swiper-button-prev 
                    .swiper-button-next 



                section.feedback.feedback--color1
                    include modules/forms/feedback-question-invert
                include modules/steps
                section.feedback.feedback--color2
                    include modules/forms/feedback-question
                include modules/address
                include modules/countries-list



            include modules/footer
        include modules/script