doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper-page
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html") Главная
                    img(src="img/breadcrumbs-arrow.svg" alt="")
                    a О компании
                .two-col._container
                    .two-col__links 
                        a.two-col__link(href="about.html") О проекте
                        a.two-col__link.active Отзывы
                        a.two-col__link(href="contacts.html") Контакты
                        a.two-col__link(href="news.html") Новости
                    .two-col__content
                        .page__head 
                            h2.page__title Отзывы
                        .reviews-page 
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend1.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend2.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend3.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend4.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend5.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend6.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами
                            .reviews-page__item
                                img.reviews-page__pic(src="img/brend7.png" alt="")
                                .reviews-page__content
                                    p.reviews-page__text Создатель портала «Транио» Георгий Качмазов является одним из наиболее прогрессивных интернет-предпринимателей моего поколения. Георгия отличают требовательное отношение к себе и своей команде, креативное мышление и способность оперативно реализовать интересные идеи на практике.
                                    .reviews-page__footer
                                        img.reviews-page__brend-pic(src="img/brend-pic1.png" alt="")
                                        p.reviews-page__brend-name Сергей Баев, Сбербанк Управление активами


            include modules/footer
        include modules/script