.appart-wrap-content {
    p {
        margin-bottom: 20px;
    }

    ul {
        margin-bottom: 20px;

        li {
            list-style-type: disc;
            padding-left: 10px;
            margin-left: 20px;
        }
    }
}