.article {
    display: flex;
    gap: 15px;

    p {
        margin-bottom: 15px;
    }

    table {
        margin-bottom: 40px;

        th {
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            padding-right: 24px;
            padding-bottom: 15px;
        }

        td {
            font-size: 20px;
            font-weight: 400;
            border-bottom: 1px solid rgba(10, 10, 10, 0.15);
            padding-right: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.article__title {
    margin-bottom: 15px;
}

.article__views {
    display: flex;
    gap: 30px;
    font-style: italic;
    margin-bottom: 20px;

    span {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

.article__pic {
    margin-bottom: 30px;

    img {
        border-radius: 2px;
    }

    figcaption {
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
    }
}

.article__block-important {
    background-color: #FCF4EA;
    padding: 25px 35px;
    font-weight: 500;
    margin: 40px 0;
    p {
        margin-bottom: 0;
    }
}

.article__share {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(10, 10, 10, 0.15);
    margin-top: 30px;
}

.article__share-social {
    display: flex;
    padding-left: 20px;

    a {
        padding: 10px 15px;
        border-left: 1px solid #D9D9D9;
    }
}